langchain =1.1.0
pip install chromadb
pip install pypdf
pip install pytest
pip install transformers
pip install accelerate
pip install peft
pip install trl
pip install bitsandbytes
pip install pandasai
pip install streamlit
pip install langchain_community
pip install sqlalchemy psycopg2-binary
pip install sentence-transformers




streamlit~=1.49.1
pandas~=2.3.2
bcrypt~=4.3.0
pandasai~=2.4.2
python-dotenv~=1.1.1
ollama~=0.5.3
openai~=1.105.0
SQLAlchemy~=2.0.43
langgraph~=1.0.3
pydantic~=2.11.7
agno~=2.2.1